.btn-toolbar.container
  .btn-group
    button.btn(data-bind="toggleClick : showAll,\
                          css:{\
                            active:showAll\
                          }")
      | all
  .btn-group
    button.btn(data-bind="toggleClick : showImportant,\
                          css:{\
                            active:showImportant\
                          },\
                          attr:{\
                            disabled:showAll\
                          }")
      | important
    button.btn(data-bind="toggleClick : showNotImportant,\
                          css:{\
                            active:showNotImportant\
                          },\
                          attr:{\
                            disabled:showAll\
                          }") 
      | not important
  .btn-group
    button.btn(data-bind="toggleClick : showUrgent,\
                          css:{\
                            active:showUrgent\
                          },\
                          attr:{\
                            disabled:showAll\
                          }")
      | urgent
    button.btn(data-bind="toggleClick : showNotUrgent,\
                          css:{\
                            active:showNotUrgent\
                          },\
                          attr:{\
                            disabled:showAll\
                          }") 
      | not urgent
  .btn-group
    button.btn(data-bind="toggleClick : showCompleted,\
                          css:{\
                            active:showCompleted\
                          },\
                          attr:{\
                            disabled:showAll\
                          }")
      | completed