.btn-toolbar.container
  .btn-group
    button.btn(data-bind="click:toggle.bind($root,'a'),css:{active:showAll}") all
  .btn-group
    button.btn(data-bind="click:toggle.bind($root,'i'),css:{active:showImportant,disabled:showAll},attr:{disabled:showAll}") important
    button.btn(data-bind="click:toggle.bind($root,'ni'),css:{active:showNotImportant,disabled:showAll},attr:{disabled:showAll}") not important
  .btn-group
    button.btn(data-bind="click:toggle.bind($root,'u'),css:{active:showUrgent,disabled:showAll},attr:{disabled:showAll}") urgent
    button.btn(data-bind="click:toggle.bind($root,'nu'),css:{active:showNotUrgent,disabled:showAll},attr:{disabled:showAll}") not urgent
  .btn-group