.navbar.navbar-fixed-bottom
  .nav-inner
    .container
      ul.nav
        li(data-bind='css:{\
                        active:getView("0")\
                      },\
                      click:toggleView.bind($root,"0")')
          a main
        li(data-bind='if:curTodo()!="",\
                      css:{\
                        active:getView("1")\
                      },\
                      click:toggleView.bind($root,"1")')
          a(data-bind='text:curTodo().content')