.panel.panel-default
  .panel-heading
    h4
      a(v-text="task.name", v-bind:title="task.from_create", v-bind:href="'/task/' + task.id")

    //- 在这里搞一点按纽
    .btn-toolbar
      .btn-group
        a.btn(@click="task.toggle_emergency")
          i.glyphicon.glyphicon-time(:class="{ emergency : task.emergency, unfinished : !task.emergency }")
        a.btn(@click="task.toggle_important")
          i.glyphicon.glyphicon-info-sign(:class="{ emergency : task.important, unfinished : !task.important }")
        a.btn(@click="task.change_status")
          i.glyphicon.glyphicon-ok(:class="{ unfinished : task.status == 'open' }")

      .btn-group
        a.btn.btn-default(@click="edit_task(task)")
          i.glyphicon.glyphicon-edit
        a.btn.btn-default(@click="add_task_progress(task)")
          i.glyphicon.glyphicon-plus
        a.btn.btn-default(@click="task.toggle_detail")
          i.glyphicon(:class="{ 'glyphicon-eye-open' : task.show_detail, 'glyphicon-eye-close' : !task.show_detail}").

      .btn-group
        a.task-progress_status.btn.btn-default(@click="task.toggle_filter_finish", :class="{ disabled  : !task.show_finished }")
          i.glyphicon.glyphicon-ok
        a.task-progress_status.btn.unfinished.btn-default(@click="task.toggle_filter_unfinish",:class="{ disabled  : !task.show_unfinished }")
          i.glyphicon.glyphicon-ok

  .panel-body(v-if="task.show_detail")
    p.task_background(v-text="task.background")

  ul.list-group
    li.list-group-item(
        v-for="progress in task.histories",
        v-if=" task.filter_progress(progress.status)")
      .row
        .col-xs-12
          .pull-right
            i.glyphicon.glyphicon-edit(@click="edit_task_progress(progress)")
          span.task-progress_status(@click="progress.change_status", :class="{ unfinished : progress.status == 'inprogress' }")
            i.glyphicon.glyphicon-ok
          | &nbsp;
          span(v-text="progress.content")
          span.last_update_past(v-if="progress.show_update_past()",v-text="progress.last_update_past()")
          //- 试试这个版本里好使不
      .row
        .col-xs-12
