.panel.panel-default(v-show="task.visible")
  .panel-heading
    h4
      a(v-text="task.name", v-bind:title="task.from_create", v-bind:href="'/task/' + task.id")

    //- 在这里搞一点按纽
    .btn-toolbar
      .btn-group
        a.btn(@click="task.toggle_emergency")
          i.glyphicon.glyphicon-time(:class="{ emergency : task.emergency, unfinished : !task.emergency }")
        a.btn(@click="task.toggle_important")
          i.glyphicon.glyphicon-info-sign(:class="{ emergency : task.important, unfinished : !task.important }")

        span.dropdown(style="display:inline-block;")
          a.btn(data-toggle='dropdown',
              aria-haspopup='true',
              aria-expanded='true')
            i.glyphicon.glyphicon-ok(:class="{ unfinished : task.status !== 'finished' }")
            | {{ task.status === 'hole' ? '脑洞' : task.status === 'open' ? '进行中' : '完成'}}
            span.caret

          ul.dropdown-menu(aria-labelledby='dropdownMenu1')
              li(@click="task.change_status('hole')", v-show="task.status !== 'hole'")
                  a(href='javascript: void(0);') 脑洞
              li(@click="task.change_status('open')", v-show="task.status !== 'open'")
                  a(href='javascript: void(0);') 进行中
              li(@click="task.change_status('finished')", v-show="task.status !== 'finished'")
                  a(href='javascript: void(0);') 完成

      .btn-group
        a.btn.btn-default(@click="edit_task(task)")
          i.glyphicon.glyphicon-edit
        a.btn.btn-default(@click="add_task_progress(task)")
          i.glyphicon.glyphicon-plus
        a.btn.btn-default(@click="task.toggle_detail")
          i.glyphicon(:class="{ 'glyphicon-eye-open' : task.show_detail, 'glyphicon-eye-close' : !task.show_detail}").

      .btn-group
        a.task-progress_status.btn.btn-default(@click="task.toggle_filter_finish", :class="{ disabled  : !task.show_finished }")
          i.glyphicon.glyphicon-ok
        a.task-progress_status.btn.unfinished.btn-default(@click="task.toggle_filter_unfinish",:class="{ disabled  : !task.show_unfinished }")
          i.glyphicon.glyphicon-ok

  .panel-body(v-if="task.show_detail")
    p.task_background(v-text="task.background")

  ul.list-group
    li.list-group-item(
        v-for="progress in task.histories",
        v-if=" task.filter_progress(progress.status)")
      .row
        .col-xs-12
          .pull-right
            i.glyphicon.glyphicon-edit(@click="edit_task_progress(progress)")
          span.task-progress_status(@click="progress.change_status", :class="{ unfinished : progress.status == 'inprogress' }")
            i.glyphicon.glyphicon-ok
          | &nbsp;
          span(v-text="progress.content")
          span.last_update_past(v-if="progress.show_update_past()",v-text="progress.last_update_past()")
      .row
        .col-xs-12

