#task_edit.modal(role='dialog', tabindex='-1')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title 编辑项目
      .modal-body
        .form
          .form-group
            label 项目名
            input.form-control(type='text', placeholder='项目名', name="name")
          .form-group
            label 项目背景
            textarea.form-control(type='text', placeholder='项目背景', name="background")

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') 取消
        button.btn.btn-primary(type='button', data-label="confirm") 保存
