.container
  table.table
    thead
      tr
        th 
        th 
          | &nbsp; content
        th
          | &nbsp; progress
        th 
    tbody(data-bind="foreach:todos_to_show")
      tr
        td
          span(data-bind="if: $root.curTodo()== '' ")
            button.btn(data-bind="click : $root.showSub.bind($root, $data)")
              span.icon-chevron-right
        td
          input.span5(type="text",data-bind="value:content")
        td
          .span3.progress.progress-striped(data-bind="click:$root.setProgress")
            .bar(data-bind="attr:{style:$root.getProgress($data)}") &nbsp;
        td
          span.label(data-bind="css:{\
                                  'label-important': isImportant\
                                  },\
                                toggleClick : isImportant")
            | important
          | &nbsp;
          span.label(data-bind="css:{\
                                  'label-warning'  : isUrgent\
                                },\
                                toggleClick : isUrgent")
            | urgent
          | &nbsp;
          span.label(data-bind="css:{\
                                  'label-success'  : completed\
                                },\
                                toggleClick : completed")
            | completed
          | &nbsp;
          span.icon-remove(data-bind="click : $root.removeTodo")