extends ./layout.jade


append content 
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.collapsed.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Brand
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') List
          li
            a(href='#') Calender
        form.navbar-form.navbar-left
          .form-group
            input.form-control(placeholder='Search')
          button.btn.btn-default(type='submit') Submit

  #main
    .container-fluid

      //- 弄一个按钮来切换配置

      .container.toolbar
        .row
          .col-sm-9
            form.form-inline
              .form-group
                label.sr-only(for='exampleInputAmount') Amount (in dollars)
                .input-group
                  .input-group-addon $
                  input#exampleInputAmount.form-control(placeholder='Amount')
                  .input-group-addon .00
          .col-sm-3
            .btn-toolbar
              .btn.btn-lg.btn-default(@click="add_task") 
                .glyphicon.glyphicon-file
                div 新增项目
        .row
          .col-sm-12
            .collapse_arrow
      hr

    .container

      .panel.panel-default(v-for="task in tasks")
        .panel-heading
          span(v-text="task.name")
          | &nbsp;&nbsp;
          //- 在这里搞一点按纽
          .btn-group
            a.btn.btn-default(@click="edit_task(task)")
              i.glyphicon.glyphicon-edit
            a.btn.btn-default(@click="add_task_progress(task)")
              i.glyphicon.glyphicon-plus
            a.btn.btn-default(@click="task.toggle_detail")
              i.glyphicon(:class="{ 'glyphicon-eye-open' : task.show_detail, 'glyphicon-eye-close' : !task.show_detail}").

            span.btn-group(v-if="task.show_detail")
              a.task-progress_status.unfinished.btn.btn-default(@click="task.toggle_filter_finish", :class="{ disabled  : !task.show_finished }")
                i.glyphicon.glyphicon-ok
              a.task-progress_status.btn.btn-default(@click="task.toggle_filter_unfinish",:class="{ disabled  : !task.show_unfinished }")
                i.glyphicon.glyphicon-ok

        .panel-body(v-if="task.show_detail")
          p.task_background(v-text="task.background")
        ul.list-group(v-if="task.show_detail")
          li.list-group-item(
              v-for="progress in task.histories",
              v-if=" task.filter_progress(progress.status)")
            .pull-right
              i.glyphicon.glyphicon-edit(@click="edit_task_progress(progress)")
            span.task-progress_status(@click="progress.change_status", :class="{ unfinished : progress.status == 'inprogress' }")
              i.glyphicon.glyphicon-ok
            | &nbsp;
            span(v-text="progress.content")

  #task_edit.modal(role='dialog', tabindex='-1')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title 编辑项目
        .modal-body
          .form
            .form-group
              label 项目名
              input.form-control(type='text', placeholder='项目名', name="name")
            .form-group
              label 项目背景
              textarea.form-control(type='text', placeholder='项目背景', name="background")

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.btn.btn-primary(type='button', data-label="confirm") 保存

  #task_progress_edit.modal(role='dialog', tabindex='-1')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title 编辑进度
        .modal-body
          .form
            .form-group
              input.form-control(type='text', placeholder='进度', name="content")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.btn.btn-primary(type='button', data-label="confirm") 保存

  .toast.alert.alert-success(id='toast')
    | &nbsp;

append css
  link(href='./skin/app.less',rel="stylesheet",type="text/css")

append js
  script(src="http://cdn.staticfile.org/require.js/2.1.11/require.js",data-main='./source/app.js')