extends ./layout-nav

append heads
  title todo list

append content-nav
  .container
    .brand to do list
block content-body-wrapper
  .center
    .animate-container
      include includes/view1.jade
      include includes/view2.jade
  .footer
    include includes/footer.jade
append js
  script(src="http://cdn.staticfile.org/require.js/2.1.11/require.js",data-main='./source/app.js')

append css
  link(href='./skin/app.css',rel="stylesheet",type="text/css")