extends ./layout.jade


append content 
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.collapsed.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Brand
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='#') List
          li
            a(href='#') Calender
        form.navbar-form.navbar-left
          .form-group
            input.form-control(placeholder='Search')
          button.btn.btn-default(type='submit') Submit

  #main
    .container-fluid

      //- 弄一个按钮来切换配置

      .container
        .row
          .col-sm-9
            form.form-inline
              .form-group
                label.sr-only(for='exampleInputAmount') Amount (in dollars)
                .input-group
                  .input-group-addon $
                  input#exampleInputAmount.form-control(placeholder='Amount')
                  .input-group-addon .00
          .col-sm-3
            button.btn.btn-lg.btn-default 新增项目
        .row
          .col-sm-12
            .collapse_arrow
      hr

    .container

      .panel.panel-default(v-for="task in tasks")
        .panel-heading
          span(v-text="task.name")
          | &nbsp;
          //- 在这里搞一点按纽
        .panel-body
          p(v-text="task.background")
        ul.list-group
          li.list-group-item(v-for="progress in task.histories", v-text="progress.content")
  
  .modal(role='dialog', tabindex='-1')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title 编辑项目
        .modal-body
          p 这里搞上新建项目的部分
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.btn.btn-primary(type='button') 保存

  .modal(role='dialog', tabindex='-1')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title 编辑
        .modal-body
          p 这里搞上编辑todo字条目的部分
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 取消
          button.btn.btn-primary(type='button') 保存

  .toast.alert.alert-success(id='toast')
    | &nbsp;

append js
  script(src="http://cdn.staticfile.org/require.js/2.1.11/require.js",data-main='./source/app.js')

append css
  link(href='./skin/app.css',rel="stylesheet",type="text/css")