extend index

append css
  style
append content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-brand
        block content-nav
  block content-body-wrapper
    div(style="position:absolute;top:60px;bottom:0;width:100%;")
      block content-body