include mixins


doctype
html
  head
    meta(name="viewport",content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
    block heads
    block css
      link(href="https://cdn.bootcss.com/twitter-bootstrap/3.3.6/css/bootstrap.css",rel="stylesheet")
      link(href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css",rel="stylesheet")
  body
    block content
      include ./includes/toast.jade

    script(src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js")
    script(src="https://cdn.bootcss.com/twitter-bootstrap/3.3.6/js/bootstrap.js")
    script(src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js")
    script(src="https://cdn.bootcss.com/vue/1.0.28/vue.js")
    script.
      Vue.config.debug = true;
    block js

