include mixins 

doctype
html
  head
    block css
      link(href="http://cdn.staticfile.org/twitter-bootstrap/2.3.2/css/bootstrap.css",rel="stylesheet",type="text/css")
    block heads
  body
    block content
    block js
      script(src="http://cdn.staticfile.org/jquery/1.10.0/jquery.js")
      script(src="http://cdn.staticfile.org/underscore.js/1.6.0/underscore-min.js")
      //if ie
        script(src="http://cdn.staticfile.org/es5-shim/2.3.0/es5-sham.js")
        script(src="http://cdn.staticfile.org/json2/20130526/json2.js")