extend ./layout-nav

append heads
  title practice record
  +css('http://cdn.staticfile.org/twitter-bootstrap/3.3.0/css/bootstrap.css')
  link(rel="stylesheet", href="skin/practice-view.css")

append content-nav
  | practice view

append content-body
  .form-horizontal
    .form-group
      label.col-sm-2.control-label
        | next_day
      .col-sm-10
        button.btn.btn-default(data-bind="click: next_day") next_day
  h3 current_tasks
  table.table
    tbody(data-bind="foreach: check_points")
      // ko foreach: current_tasks
      tr
        td(data-bind="text: name")
        td(data-bind="text: frequency")
        td
          button.btn.btn-default(data-bind="click: $root.finish_task,\
                                            text: finish() ? 'finished' : 'undergoing'")
      // /ko
  h3 past_tasks
  table.table
    tbody(data-bind="foreach: check_points")
      // ko foreach: past_tasks
      tr
        td(data-bind="text: name")
        td(data-bind="text: frequency")
        td(data-bind="text: finish ? 'finished' : 'undergoing'")
      // /ko

append js
  script(src="./bower_components/requirejs/require.js",data-main='./source/practice-view.js')