extend layout-nav

append heads
  title project progress
  link(rel="stylesheet", href="skin/progress-view.css")

append content-nav
  | progress view


mixin progress_line()
  // ko foreach : projects
  .progress-line.project-root
    .name(data-bind="editable_text: name")
    .timeline
      .timepeer(data-bind="style:{\
                                  'margin-left':left() + 'px',\
                                   width : (width() + '').indexOf('%') != -1 ?\
                                                  width() :\
                                                  width() + 'px'\
                                }")
        .peer.start(data-bind="drag : {\
                                        val     : left,\
                                        dragend : updatetime\
                                      }")
        .peer.end(data-bind="drag:{\
                                    val     : width,\
                                    dragend : updatetime\
                                  }")
  // /ko
  .progress-line
    .name
      input(type="text", placeholder="projeck name",\
            data-bind="value:new_project.name")
      i.glyphs.glyphicon-plus(data-bind="click:create_new")
    .timeline

append content-body
  .progress-line.head
    .name-head
      | project name
    .timeline-head
  +progress_line()

append js
  script(src="http://cdn.staticfile.org/require.js/2.1.11/require.js",data-main='./source/progress-view.js')
