include ./includes/nav.jade

extends ./layout.jade


append content 
  +nav('/project')

  #main.container
    include ./includes/task.jade

      div
        .col-xs-12.time_info_wrapper
          .time_info(v-if="progress.time_info")
            div(v-if="progress.status != 'finished'",)
              .time_info_bg
            .time_stop(
                v-for="_time_info in progress.time_info",
                :style="{ width: _time_info.percent + '%', background: _time_info.bgc }",
                :class="[_time_info.type + '_stop']"
                v-bind:title="_time_info.label")
            div &nbsp;
          .time_info_deadline
            .time_stop(
                v-for="_time_info in progress.deadline_info",
                :style="{ width: _time_info.percent + '%' }",
                :class="[_time_info.type + '_stop']"
                v-bind:title="_time_info.label")
            div &nbsp;

      //- 上半是时间
      //- 下半部分是计划

  include ./includes/task_edit.jade
  include ./includes/task_progress_edit.jade



append css
  link(href='/skin/app.less',rel="stylesheet",type="text/css")

append js
  script(src="http://cdn.staticfile.org/require.js/2.1.11/require.js",data-main='/source/project.js')
  script.
    var main_task = !{JSON.stringify( main_task || {})};