@import "./css3.less";

.toast{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}


.task_background {
  white-space:pre;
}

.toolbar {
  .btn-lg {
    .glyphicon{
      font-size:40px;
    }
  }
}


.task-progress_status {
  cursor: pointer;
  a&.disabled{
    pointer-events: initial;
    cursor: pointer;
  }

  &.unfinished {
    color : white;
    -webkit-text-stroke: black 1px;
  }
}
