@import "./css3.less";

@header_height: 60px;
@footer_height: 40px;
@footer_padding:20px;

.toast{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}