.practice-view {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.practice-view .date-list {
  height: 100%;
  float: left;
  width: 25%;
}
.practice-view .date-item {
  height: 14.28571429%;
  padding: 20px;
  border-bottom: 1px solid #888888;
  border-right: 1px solid #888888;
  font-size: 40px;
  line-height: 90px;
}
.practice-view .date-item.current {
  height: 28.57142857%;
  -webkit-box-shadow: 0 0px 5px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0px 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-right: none;
}
.practice-view .content {
  position: absolute;
  height: 100%;
  background-color: #fff;
  margin-left: 25%;
  width: 75%;
  overflow: auto;
}
.practice-view .content .glyphs {
  float: left;
  font-size: 60px;
  margin: 0 20px;
}
.practice-view .content .name {
  float: left;
  font-size: 60px;
  margin-right: 40px;
}
.practice-view .content .number {
  float: left;
  font-size: 60px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
